footer
  .container
    .row
      .col-md-4
        a(href="#")
          img.logotype(src="/images/shared/logotype_chez_felix_vertical.svg")
        hr
        p.mt-15 Copyright Chez Félix - 2015
            
      .col-md-2
        nav
          ul
            li
              a(href="#") Home
            li
              a(href="#") Fromages
            li
              a(href="#") Plats
            li
              a(href="#") Blog
            li
              a(href="#") Contact

      .col-md-2
        nav.social
          ul
            li
              a(href="#") Facebook
            li
              a(href="#") Twitter
            li
              a(href="#") Instagram
            li
              a(href="#") Pinterest

      .col-md-4
        .schedule
          h4 Horaire
          p
            | Du mardi au jeudi: 11h - 15h, 19h - 23h
            br/
            | Du vendredi au dimanche : 11h - 1h
            br/
            | Fermé le lundi

        a.phone(href="tel:0102030405") 
          span.glyphicon.glyphicon-earphone 
          |  tel.: 01 02 03 04 05

        p.location.mt-15 4 rue de la cancoillote, 75001 Paris.
        a.btn.btn-default(href="#") Itinéraire
