//- footer
//-   .container
//-     .row
//-       .col-md-2
//-         nav
//-           ul
//-             li
//-               a(href="#") Home
//-             li
//-               a(href="#") Fromages
//-             li
//-               a(href="#") Plats
//-             li
//-               a(href="#") Blog
//-             li
//-               a(href="#") Contact
//- 
//-       .col-md-2
//-         nav.social
//-           ul
//-             li
//-               a(href="#") Facebook
//-             li
//-               a(href="#") Twitter
//-             li
//-               a(href="#") Instagram
//-             li
//-               a(href="#") Pinterest
//- 
//-       .col-md-4
//-         .schedule
//-           h4 Horaire
//-           p
//-             | Du mardi au jeudi: 11h - 15h, 19h - 23h
//-             br/
//-             | Du vendredi au dimanche : 11h - 1h
//-             br/
//-             | Fermé le lundi
//- 
//-         .phone tel.: 01 02 03 04 05
//- 
//-         .location 4 rue de la cancoillote, 75001 Paris.
//-           a.btn.btn-default(href="#") Itinéraire
//- 
//-       .col-md-4
//-         h4 Newsletter
//-         p Inscrivez-vous à notre newletter hebdomadaire. Pas de spam, promis, Félix déteste ça autant que vous.
//-         form
//-           .form-group
//-             label(for="email")
//-             input(type="email" class="form-control" id="email" placeholder="votre email")
//-           .form-group
//-             button(type="submit" class="btn btn-default") Submit
