.container
  .newsletter.row
    .col-sm-5.text-container
      h3 Newsletter
      p Inscrivez-vous à notre newletter hebdomadaire. Pas de spam, promis, Félix déteste ça autant que vous.
    .col-sm-6.col-sm-offset-1.text-container
      form.form-inline
        .form-group
          label(for="email")
          input(type="email" class="form-control" id="email" placeholder="votre email")
        .form-group
          button(type="submit" class="btn btn-default") S'inscrire
