include ./template.jade

extends ./../shared/layout
block title
  title Chez Felix - Blog

block content
  .container.mb-30
    .row
      h1.text-center.mb-30 
        a.link-reset(href="/blog/") BLOG
    .row.text-center
      .dropdown.visible-xs
        a.btn.btn-default.btn-lg.dropdown-toggle(data-toggle="dropdown", aria-expanded="false", type="button") Affiner 
          span.caret
        ul.dropdown-menu.filter.col-xs-6(role="menu")
          li
            a(href="") Sorties
          li.divider
          li
            a(href="") Fromages
          li.divider
          li
            a(href="") Coup de cœur
    .row.visible-sm
      .col-sm-4
          a.btn.btn-block.btn-default(href='') Sorties 
      .col-sm-4
          a.btn.btn-block.btn-default(href='') Fromages 
      .col-sm-4
          a.btn.btn-block.btn-default(href='') Coup de coeur 
          
  .container
    +articleList([{
                    title:"Ma douce Ville",
                    author:"Tatiana Iglov",
                    start:"19/03",
                    end:"19/04",
                    resume:"Venez découvrir pendant les douces journées ensoleillés, notre artiste aux multiples facettes..",
                    label:"Photographie",
                    photo_url:"http://www.lesalondelaphoto.com/var/comexposium/storage/images/media/salon-de-la-photo-medias/images/"+
                              "suivre-le-salon-de-la-photo-sur-les-reseaux-sociaux/1482353-1-fre-FR/Suivre-le-Salon-de-la-photo-sur-"+
                              "les-reseaux-sociaux_Tuile_980x430.jpg",
                    article_url:"#",
                    parution_date:"10/01/15"
                  },
                  {
                    title:"Mon blues écarlate",
                    author:"Jessie Pinkman",
                    start:"12/03",
                    end:"30/05",
                    resume:"Jessie Pinkman est le phénomène de ces deux dernièrs mois. Il est l'homme phare du Jazzy-blues..",
                    label:"Musique",
                    photo_url:"http://www.nycguitarschool.com/wp-content/uploads/2013/03/bluesguitar.jpg",
                    article_url:"#",
                    parution_date:"10/02/15"
                  },
                  {
                    title:"La fleur automnale",
                    author:"Maitre Roche",
                    start:"12/01",
                    end:"",
                    resume:"Maitre Roche nous fait parvenir l'un des plus précieux fromage de Lorraine, le Loraifort. A cet effet"+
                           "...",
                    label:"Fromage",
                    photo_url:"http://www.tourisme-aveyron.com/fr/decouvrir/incontournables/images/bandeau/roquefort/Photo-3.jpg",
                    article_url:"#",
                    parution_date:"10/01/15"

                  }
                ])