include ./template.jade

extends ./../shared/layout

block content         
  .container.marge-bot-30
      .row
          h1.text-center.marge-bot-30 BLOG
      .row.text-center
          .dropdown
              a.btn.btn-default.btn-lg.dropdown-toggle(data-toggle="dropdown", aria-expanded="false", type="button") Affiner 
                  span.caret
              ul.dropdown-menu.filter(role="menu")
                  li
                      a(href="") Sorties
                  li.divider
                  li
                      a(href="") Fromages
                  li.divider
                  li
                      a(href="") Coup de cœur
  .container
      +articleList(   "Ma Douce Ville", "Tatiana Iglov", "19 Mars", "22 Avril", "Photographie", 
                      "Venez découvrir pendant les douces journées ensoleillés, notre artiste aux multiples facettes..", 
                      "http://www.lesalondelaphoto.com/var/comexposium/storage/images/media/salon-de-la-photo-medias/images/"+
                      "suivre-le-salon-de-la-photo-sur-les-reseaux-sociaux/1482353-1-fre-FR/Suivre-le-Salon-de-la-photo-sur-les-reseaux-sociaux_Tuile_980x430.jpg","#")
                  
      +articleList(   "Mon blues écarlate", "Jessie Pinkman", "12 Mars", "30 Avril", "Musique", 
                      "Jessie Pinkman est le phénomène de ces deux dernièrs mois. Il est l'homme phare du Jazzy-blues..", 
                      "http://www.nycguitarschool.com/wp-content/uploads/2013/03/bluesguitar.jpg","#")
                  
      +articleList(   "La fleur automnale", "Maître Roche", "12 Janvier", "", "Fromage", 
                      "Maître Roche nous fait parvenir l'un des plus précieux fromage de Lorraine, le Loraifort. A cet effet, il nous en fait le récit de son histoire"+
                      "et de son goût si particulier.. ", 
                      "http://www.tourisme-aveyron.com/fr/decouvrir/incontournables/images/bandeau/roquefort/Photo-3.jpg","#")
                  
