include ./partials/_fromage

extends ./../shared/layout.jade

block content

  .container.back-white
    .row
      .jumbotron
        .circle-cheese-1
        .circle-cheese-2
        h1 Entrée, plat ou dessert, <br/> tout est fait maison.
        p Toutes nos recettes sont créees dans notre cuisine avec des produits issus <br/> de l'agriculture biologique.
    .row.text-container.search-tool.fromages-row
      .col-md-12.mb-15.btn-filter
        a.btn.btn-default.btn-sm.dropdown-toggle(data-toggle="dropdown", aria-expanded="false", type="button") Filtre 
          span.caret
        ul.dropdown-menu-custom(role="menu")
          li
            a(href="") Cambembert
          li.divider
          li
            a(href="") Comté
          li.divider
          li
            a(href="") Roclochon
        .search.pull-right.btn-search.hidden-xs
          input(type='text',placeholder='Search')
          a.btn.btn-default.btn-sm.btn-search-icon <span class='glyphicon glyphicon-search'>
      .col-md-12.mb-30

      .col-md-12.mb-30
        hr.full-width
    .row.fromages.last-fromages.text-container.fromages-row
      +lastFromages(
        "Camembert",
        "/images/fromages/last1.jpg",
        "Lait de vache",
        "Pâte fleurie",
        "Normandie", 
        "Alan Loisuzk",
        "Ce merveilleux fromage de brebis fondant, sera vous raviver après une dur journée de boulot. Venez découvrir et aprécier ce doux parfum de vallée. Alan Loisusk est un nouveau berger émergent outre atlantique. ",
        20)
        
      +lastFromages(
        "Comte",
        "/images/fromages/last2.jpg",
        "Lait de brebis",
        "Pâte fleurie",
        "Normandie", 
        "Alan Loisuzk",
        "Ce merveilleux fromage de brebis fondant, sera vous raviver après une dur journée de boulot. Venez découvrir et aprécier ce doux parfum de vallée. Alan Loisusk est un nouveau berger émergent outre atlantique. ",
        20)
        
    .row.fromages.text-container.fromages-row
      +fromage(
        "Camembert de brebis",
        "/images/fromages/brebis.jpg",
        "Lait de brebis",
        "Pâte fleurie",
        "Normandie", 
        "Alan Loisuzk",
        "Ce merveilleux fromage de brebis fondant, sera vous raviver après une dur journée de boulot. Venez découvrir et aprécier ce doux parfum de vallée. Alan Loisusk est un nouveau berger émergent outre atlantique. ",
        20)
      
      +fromage(
        "Reblochon",
        "/images/fromages/camembert.png",
        "Lait de chèvre",
        "Pâte douce",
        "Normandie", 
        "Alan Loisuzk",
        "Ce merveilleux Reblochon de Savoie fera fondre votre palais de plaisir. Un enrobage frais et raffiné.Venez découvrir et aprécier ce doux parfum de vallée",
        15.50)
        
      +fromage(
        "Comté",
        "/images/fromages/comte.jpg",
        "Lait de vache",
        "Pâte amaende",
        "Normandie", 
        "Alan Loisuzk",
        "Le comté le plus riche de cet année, il a du caractère, comme celui qui le goute. Entre les papilles et ce merveilleux comté du Jura, l'harmonie de l'un et de l'autre",
        9.90)
  
