.filter{
    text-align: center;
    min-width: auto;
    width: 100%;
}
.article-bg{
    left: 0;
    
    background-size: cover;
    min-height:  300px;
}

.article-label{
    left: 0;
    position: absolute;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    background-color: rgba(0.5,0.5,0.5,0.7);
}

.article-separate{
    border-bottom: 1px solid black;
    height: 15px;
}

.article-title{
    font-weight: bold;
}

.article-date{
}

.article-author{
}