footer {
  background: @white;
  color: @medium-grey;
  
  .copyright{
    .hidden-xs;
  }
  
  .container{
    padding: 15px !important;
  }
  
  ul{
    .nopadding;
  }
  
  .logotype {
    width: 99px;
    background: none;
    display: block;
    opacity: 0.8;
  }

  hr {
    border-color: @medium-grey;
  }

  a {
    color: @medium-grey;
  }
  
  .phone-wrapper{
    @media (min-width: @screen-xs-min) and (max-width:@screen-sm-min) {
      .mt-30;
      .mb-30;
      .text-center;
    }
  }
  
  .location{
    color:@primary-color;
  }
  
  ul {
    list-style: none;
    line-height: 2em;
  }
}
