@import "bootstrap.less";
@import "./vars.less";
@import "./fonts.less";
@import "./utils.less";
@import "./overriding/jumbotron.less";
@import "./overriding/button.less";
@import "./layout.less";
@import "./images.less";
@import "./header.less";
@import "./newsletter.less";
@import "./footer.less";
@import "./home.less";
@import "./blog.less";
@import "./carte.less";
@import "./shared.less";


// Header
.map {
  width: 100%;
  height: 180px;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.itinerary {
  margin-top: -120px;
}

.centered-pills {
  display: inline-block;
}
