.mb-5{
  margin-bottom: 5px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-45{
  margin-bottom: 45px !important;
}

.mt-5{
  margin-top: 5px;
}

.mt-15{
  margin-top: 15px;
}

.mt-30{
  margin-top: 30px;
}

.mt-45{
  margin-top: 45px;
}

.pad-20{
  padding: 20px !important;
}

.pad-40{
  padding: 40px !important;
}

.pad-60{
  padding: 60px !important;
}

.padt-30{
  padding-top: 30px !important;
}

.padb-30{
  padding-bottom: 30px !important;
}

.padt-45{
  padding-top: 45px !important;
}

.padb-45{
  padding-bottom: 45px !important;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
