.jumbotron {
  background-color: @primary-color;
  color: @white;
  border-radius: 0px !important;
  margin-bottom: 0;
  
  h1{
   @media (min-width: 300px) and (max-width: @screen-xs-min) {
     font-size: 38px !important;
    }
  }
  
  p{
    .mb-30;
  }
}
